.navigation{
    display: flex;
   justify-content: space-between;
   align-items: center;
   height: 72px;
   margin-top: 10px;
}

.navigation ul{
    display: flex;
    gap: 70px;
    list-style: none;
}