.primary_btn{
    padding: 18px 10px;
    background-color: black;
    color: white;
    min-width: 220px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   gap: 8px;
   font-size: 16px;
   align-items: center;
   cursor: pointer;
   
}
.outline_btn{
    padding: 18px 10px;
    border: 1px solid black;
    color: black;
    min-width: 472px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   gap: 8px;
   font-size: 16px;
   align-items: center;
   cursor: pointer;
}